<div class="control-group">
  <label class="control-label" for="obj-name">
    {{i18n diaedu.name}}
    <span class="errors">{{errors.name}}</span>
  </label>
  <div class="controls">
    {{input id="obj-name" value=name class="obj-form"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="obj-description">
    {{i18n diaedu.description}}
    <span class="errors">{{errors.description}}</span>
  </label>
  <div class="controls">
    {{textarea id="obj-description" value=description class="obj-form"}}
  </div>
</div>
<div class="control-group obj-triggers">
  <label class="control-label" for="obj-triggers">
    {{relatedHeading}}
  </label>
  <div class="controls">
    {{view Discourse.KbRelatedObjView}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="obj-tags">
    {{i18n diaedu.tags.tags}}
    <span class="errors">{{errors.tags}}</span>
  </label>
  <div class="controls">
    {{view Discourse.KbTagEditView}}
  </div>
</div>