<div class="diaedu-content">
  <div class="main">
    <h1>
      <img src="/assets/diaedu/glyprobs-active.png" />
      Glycemic Problems
    </h1>

    <div class="index-list">
      {{#each glyprob in controller.paginatedContent}}
        <div class="index-row">
          <div class="stat">
            {{glyprob.likes}}
            <small>Likes</small>
          </div>
          <div class="stat">
            {{glyprob.comments}}
            <small>Comments</small>
          </div>
          <div class="main-cell">
            <a href="#">{{glyprob.evaluation}} {{glyprob.event.name}}</a>
          </div>
        </div>
      {{/each}}
    </div>

    <div class="pagination">
      <table>
        <tr>
          <td class="prev">{{#linkTo 'kb_glyprobs.page' prevPage target="controller"}}&lt; Prev{{/linkTo}}</td>
          {{#each pages}}
            {{view Discourse.PaginationView contentBinding="this"}}
          {{/each}}
          <td class="next">{{#linkTo 'kb_glyprobs.page' nextPage target="controller"}}Next &gt;{{/linkTo}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>