{{#if multiple_pages}}
  <div class="pagination">
    <table><tr>
      {{#each page in other_pages}}
        {{#if page.is_gap}}
          <td class="skip"><div>...</div></td>
        {{else}}
          {{#if page.is_active}}
            <td class="active"><div>{{page.page_id}}</div></td>
          {{else}}
            <td>
              {{! if in show mode, make the link trigger an action instead of a straight up transition}}
              {{#if showMode}}
                {{#view Discourse.KbPaginationLink pageIdBinding="page.page_id"}}{{page.page_id}}{{/view}}
              {{else}}
                {{#linkTo 'kb_obj.filtered_page' data_type page}}{{page.page_id}}{{/linkTo}}
              {{/if}}
            </td>
          {{/if}}
        {{/if}}
      {{/each}}
    </tr></table>
  </div>
{{/if}}
