{{#if multiplePages}}
  <div class="pagination">
    <table><tr>
      {{#each page in otherPages}}
        {{#if page.isGap}}
          <td class="skip"><div>...</div></td>
        {{else}}
          {{#if page.isActive}}
            <td class="active"><div>{{page.pageId}}</div></td>
          {{else}}
            <td>
              {{! if in show mode, make the link trigger an action instead of a straight up transition}}
              {{#if showMode}}
                {{#view Discourse.KbPaginationLink pageIdBinding="page.pageId"}}{{page.pageId}}{{/view}}
              {{else}}
                {{#linkTo 'kbObj.filteredPage' dataType page}}{{page.pageId}}{{/linkTo}}
              {{/if}}
            </td>
          {{/if}}
        {{/if}}
      {{/each}}
    </tr></table>
  </div>
{{/if}}
