<div class="main patient-plan">
  <a {{action 'showPrint'}} class="btn btn-primary print">{{i18n diaedu.patient_plan.print}}</a>
  <h2>{{i18n diaedu.patient_plan.patient_plan}}</h2>

  {{#unless loading}}
    {{#each breadcrumb.crumbs}}
      <div {{bind-attr class=":item isEndPoint:endpoint"}}>
        <img {{bind-attr src="dataType.iconPath"}} />
        <div class="text">
          <div class="name"><strong>{{dataType.singularTitle}}:</strong> {{name}}</div>
          <div class="description">{{description}}</div>
        </div>
      </div>
    {{/each}}
  {{/unless}}

  <div class="hide-plan">
    <a {{action 'hidePlan'}}><i class="fa fa-reply"></i> {{i18n diaedu.patient_plan.back}}</a>
  </div>
</div>
