<div class="left-pane">
  {{render "kb_filter_set" filterSet}}
</div>

<div class="main">
  {{#if currentUser}}
    {{#unless loading}}
      <button {{action newObj}} class="btn btn-default btn-add">
        <i class="icon icon-plus"></i> {{addLinkText}}
      </button>
    {{/unless}}
  {{/if}}
  
  <h1>
    <img {{bindAttr src="objPage.data_type.iconPath"}} />
    {{data_type.title}}
  </h1>

  {{#if loading}}
    <div class="spinner">{{i18n loading}}</div>
  {{else}}
    {{render 'kb_obj_page' objPage}}
  {{/if}}
</div>