<div class="left-pane">
  {{render "kbFilterSet" filterSet}}
</div>

<div class="main">
  {{#if currentUser}}
    {{#unless loading}}
      <button {{action addObj}} class="btn btn-default btn-add">
        <i class="fa fa-plus"></i> {{addLinkText}}
      </button>
    {{/unless}}
  {{/if}}

  <h1>
    <img {{bindAttr src="objPage.dataType.iconPath"}} />
    {{dataType.title}}
  </h1>

  {{#if loading}}
    <div class="spinner">{{i18n loading}}</div>
  {{else}}
    {{render 'kbObjPage' objPage}}
  {{/if}}
</div>