<div class="diaedu-content">
  <div class="filters">
    {{render "kb_filter_set" filterSet}}
  </div>
  <div class="main">
    {{#unless loading}}
      <a href="#" class="btn btn-default btn-add"><i class="icon icon-plus"></i> {{i18n kb.trigger.add_link}}</a>
    {{/unless}}

    <h1>
      <img {{bindAttr src="iconPath"}} />
      {{data_type.title}}
    </h1>

    {{#if loading}}
      <div class="spinner">{{i18n loading}}</div>
    {{else}}
      
      {{#if noObjs}}
        {{i18n kb.common.none_found}}
      {{else}}
        {{partial 'diaedu/templates/kb_objs/_index_list'}}
        {{partial 'diaedu/templates/kb_objs/_pagination'}}
      {{/if}}
    {{/if}}
  </div>

  {{outlet}}
</div>

