<div class="diaedu-content">
  <div class="filters">
    {{render "kb_filter_set" filterSet}}
  </div>
  <div class="main">
    {{#if showAdd}}
      {{#unless loading}}
        <button {{action newObj}} class="btn btn-default btn-add">
          <i class="icon icon-plus"></i> {{addLinkText}}
        </button>
      {{/unless}}
    {{/if}}
    
    <h1>
      <img {{bindAttr src="iconPath"}} />
      {{data_type.title}}
    </h1>

    {{#if loading}}
      <div class="spinner">{{i18n loading}}</div>
    {{else}}
      
      {{#if noObjs}}
        {{i18n kb.none_found}}
      {{else}}
        {{view Discourse.KbObjIndexListView}}
        {{partial 'diaedu/templates/kb_objs/_pagination'}}
      {{/if}}
    {{/if}}
  </div>

  {{outlet}}
</div>

