<div class="index-list">
  {{#each objs}}
    <div class="index-row" {{bindAttr id="rowId"}}>
      <div class="stat likes">
        {{likes}}
        <small>Likes</small>
      </div>
      <div class="stat comments">
        {{comments}}
        <small>Comments</small>
      </div>
      <div class="main-cell">
        <div class="tags">
          {{#each firstNTags}}
            <span>{{name}}</span>
          {{/each}}
          {{#if hasMoreTags}}
            <small>+{{moreTagCount}} more</small>
          {{/if}}
        </div>
        <a href="#">{{name}}</a>
      </div>
    </div>
  {{/each}}
</div>