<span>{{i18n kb.tags.tags}}:</span>
<a href="#" {{bindAttr class=":any-link noneChecked:active"}}>{{i18n kb.any}}</a>
{{#each items}}
  <a href="#" {{bindAttr data-id="obj.id"}} {{bindAttr class="isChecked:active"}}>{{obj.name}}</a>
{{/each}}