<form class="kb-obj-form">
  <div class="modal-body">
    
    {{#if done}}
      {{! message if the save was successful}}
      {{i18n kb.objs.sent_for_approval}}

    {{else}}
      {{! new object form}}
      <div class="control-group">
        <label class="control-label" for="obj-name">
          {{i18n kb.name}}
          <span class="errors">{{errors.name}}</span>
        </label>
        <div class="controls">
          {{input id="obj-name" value=name}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="obj-description">
          {{i18n kb.description}}
          <span class="errors">{{errors.description}}</span>
        </label>
        <div class="controls">
          {{textarea id="obj-description" value=description}}
        </div>
      </div>
    {{/if}}
  </div>
   
  <div class="modal-footer">
    {{#if done}}
      <button class="btn" {{action closeModal}}>{{i18n kb.ok}}</button>
    {{else}}
      <button class="btn" {{action closeModal}}>{{i18n kb.cancel}}</button>
      <button class="btn btn-primary" {{action save}}>{{i18n kb.save}}</button>
      {{#if saving}}<img src="/assets/diaedu/loader.gif" class="loader" />{{/if}}
    {{/if}}
  </div>
</form>