<div class="diaedu-content">
  <div class="breadcrumb">
  </div>
  <div class="main">
    
    <h1>
      <img {{bindAttr src="controllers.kbObj.iconPath"}} />
      {{controllers.kbObj.model.title}}: <span class="weaker">{{name}}</span>
    </h1>

    {{#if loading}}
      <div class="spinner">{{i18n loading}}</div>
    {{else}}
      Content
    {{/if}}
  </div>
</div>