<div class="left-pane">
  <div class="block breadcrumb">
    <h3>
      <i class="icon-random"></i>
      {{i18n kb.how_got_here}}
    </h3>
    {{#unless loading}}
      <ol>
        {{#each breadcrumb.crumbs}}
          <li {{bindAttr class="obj:isActive"}}>
            <div>{{type.singularTitle}}</div>
            {{#linkTo 'kb_obj_show.with_breadcrumb' obj obj}}<strong>{{obj.name}}</strong>{{/linkTo}}
          </li>
        {{/each}}
      </ol>
    {{/unless}}
  </div>

  {{#unless loading}}
    {{#if hasRelatedParents}}
      <div class="block related-parents">
        <h3>
          <img {{bindAttr src="relatedParentsIconPath"}} />
          {{relatedParentsHeading}}
        </h3>
        <div class="items">
          {{#unless loading}}
            <ul>
              {{#each relatedParents}}
                <li>{{#linkTo 'kb_obj_show.with_breadcrumb' this this}}{{name}}{{/linkTo}}</li>
              {{/each}}
            </ul>
          {{/unless}}
        </div>
      </div>
    {{/if}}
  {{/unless}}
</div>

<div class="main">
  {{#unless loading}}
    <h1>
      <img {{bindAttr src="dataType.iconPath"}} />
      {{dataType.title}}: <span class="weaker">{{name}}</span>
    </h1>
  {{/unless}}

  {{#if loading}}
    <div class="spinner">{{i18n loading}}</div>
  {{/if}}

  {{#if loadFailed}}
    <i class="icon-frown"></i>
    {{i18n kb.server_error}}.
  {{/if}}

  {{#if loaded}}
    <div class="attribs-comments">
      <div class="stats">
        <i class="icon-caret-up"></i>
        <div class="likes">{{likes}} {{i18n likes}}</div>
        <div class="views">{{views}} {{i18n views}}</div>
      </div>
      <div class="description">
        {{description}}
      </div>

      <div class="comments">
        {{#if hasComments}}
          <h3>{{i18n kb.comments.title}}</h3>
          <ul>
            {{#each commentPreview}}
              <li>{{{cooked}}}</li>
            {{/each}}
          </ul>
          <a {{action jumpToComments}}>{{i18n kb.comments.view_full}} ({{commentCountWithNoun}})</a>
        {{else}}
          <a {{action jumpToComments}}>{{i18n kb.comments.none_yet}}</a>
        {{/if}}
      </div>
    </div>

    {{#if dataType.hasNext}}

      <div class="related-objs">
        {{#if currentUser}}
          <a {{action addRelatedObj}} class="new-related-obj">
            &plus;
            {{addRelatedObjLinkText}}
          </a>
        {{/if}}

        <h2>
          <img {{bindAttr src="relatedObjPage.data_type.iconPath"}} />
          {{relatedChildrenHeading}}
        </h2>

        {{render 'kb_mini_filter' tagFilterBlock}}

        {{render 'kb_obj_page' relatedObjPage}}
      </div>
      
    {{/if}}
  {{/if}}
</div>