<div class="diaedu-content">
  <div class="breadcrumb">
    {{#each breadcrumb}}
      {{dataType.singularTitle}}
      {{name}}
    {{/each}}
  </div>

  <div class="main">
    
    <h1>
      <img {{bindAttr src="controllers.kbObj.iconPath"}} />
      {{controllers.kbObj.model.title}}: <span class="weaker">{{name}}</span>
    </h1>

    {{#if loading}}
      <div class="spinner">{{i18n loading}}</div>
    {{/if}}

    {{#if loadFailed}}
      <i class="icon-frown"></i>
      {{i18n kb.server_error}}.
    {{/if}}

    {{#if loaded}}
      <div class="attribs-comments">
        <div class="stats">
          <i class="icon-caret-up"></i>
          <div class="likes">{{likes}} {{i18n likes}}</div>
          <div class="views">{{views}} {{i18n views}}</div>
        </div>
        <div class="description">
          {{description}}
        </div>
      </div>
    {{/if}}
  </div>
</div>