<div class="left-pane">
  <div class="block breadcrumb">
    <h3>
      <i class="icon-random"></i>
      {{i18n kb.how_got_here}}
    </h3>
    <ol>
      {{#each breadcrumb}}
        <li {{bindAttr class="obj:isActive"}}>
          <div>{{type.singularTitle}}</div>
          {{#linkTo 'kb_obj.show' obj}}<strong>{{obj.name}}</strong>{{/linkTo}}
        </li>
      {{/each}}
    </ol>
  </div>
</div>

<div class="main">
  <h1>
    <img {{bindAttr src="controllers.kbObj.model.iconPath"}} />
    {{controllers.kbObj.model.title}}: <span class="weaker">{{name}}</span>
  </h1>

  {{#if loading}}
    <div class="spinner">{{i18n loading}}</div>
  {{/if}}

  {{#if loadFailed}}
    <i class="icon-frown"></i>
    {{i18n kb.server_error}}.
  {{/if}}

  {{#if loaded}}
    <div class="attribs-comments">
      <div class="stats">
        <i class="icon-caret-up"></i>
        <div class="likes">{{likes}} {{i18n likes}}</div>
        <div class="views">{{views}} {{i18n views}}</div>
      </div>
      <div class="description">
        {{description}}
      </div>
    </div>

    <div class="related-objs">
      {{#if currentUser}}
        <a {{action addRelatedObj}} class="new-related-obj">
          &plus;
          {{addRelatedObjLinkText}}
        </a>
      {{/if}}

      <h2>
        <img {{bindAttr src="relatedObjPage.data_type.iconPath"}} />
        {{relatedObjHeading}}
      </h2>

      {{render 'kb_mini_filter' tagFilterBlock}}

      {{render 'kb_obj_page' relatedObjPage}}
    </div>
  {{/if}}
</div>