<div class="left-pane">
  {{partial 'diaedu/templates/kb_objs/_breadcrumb'}}
  {{partial 'diaedu/templates/kb_objs/_related_parents'}}
</div>

<div class="main">
  {{#unless loading}}
    <h1>
      <img {{bindAttr src="dataType.iconPath"}} />
      {{dataType.title}}: <span class="weaker">{{name}}</span>
    </h1>
  {{/unless}}

  {{#if loading}}
    <div class="spinner">{{i18n loading}}</div>
  {{/if}}

  {{#unless loading}}
    <div class="attribs-comments">
      <div class="stats">

        {{! show the appropriate 'up' icon, with or without link, depending on whether item can be liked by this user}}
        {{#if canLike}}
          <a {{action likeObj}} class="like"><i class="icon-caret-up"></i></a>
        {{/if}}
        {{#if liked}}
          <i class="icon-caret-up disabled"></i>
        {{/if}}
        <div class="likes">{{likes}} {{likesText}}</div>
        <div class="views">{{views}} {{viewsText}}</div>
      </div>
      <div class="description">
        {{description}}
      </div>

      <div class="comments">
        {{#if hasComments}}
          <h3>{{i18n kb.comments.title}}</h3>
          <ul>
            {{#each commentPreview}}
              <li>
                {{#linkTo 'userActivity.index' this.user}}{{avatar this.user imageSize="medium"}}{{/linkTo}}
                <div>
                  {{{cooked}}}
                  <div class="comment-fade"></div>
                </div>
              </li>
            {{/each}}
          </ul>
        {{/if}}

        {{#if hasComments}}
          <a {{action jumpToComments}} class="jump view-full">{{i18n kb.comments.view_full}} ({{comments}} {{lower commentsText}})</a>
        {{else}}
          {{#if canComment}}
            <a {{action jumpToComments}} class="jump none-yet">{{i18n kb.comments.none_yet}}</a>
          {{/if}}
        {{/if}}
      </div>
    </div>

    {{#if dataType.hasNext}}

      <div class="related-objs">
        {{#if currentUser}}
          <a {{action addRelatedObj}} class="new-related-obj">
            &plus;
            {{addRelatedObjLinkText}}
          </a>
        {{/if}}

        <h2>
          <img {{bindAttr src="relatedObjPage.data_type.iconPath"}} />
          {{relatedChildrenHeading}}
        </h2>

        {{render 'kb_mini_filter' tagFilterBlock}}

        {{render 'kb_obj_page' relatedObjPage}}
      </div>
      
    {{/if}}
  {{/loading}}
</div>