<div class="control-group">
  <label class="control-label" for="obj-evidence">
    {{i18n diaedu.evidence.evidence}}
    <span class="errors">{{errors.evidence}}</span>
  </label>
  <div class="controls">
    <div>
      {{! list of the evidence items}}
      {{#each content}}
        <div>
          {{input type="text" value=title}}
          {{#if isFile}}
            {{fileName}}
            {{#unless uploaded}}
              Uploading ...
            {{/unless}}
          {{else}}
            {{input type="text" value=url}}
          {{/if}}
        </div>
      {{/each}}

      {{! links}}
      {{view Discourse.KbEvidenceUploadButtonView}}
      <a {{action addLink}}><i class="fa fa-plus"></i> {{i18n diaedu.evidence.add_link}}</a>&nbsp;&nbsp;
      <a {{action addFile}}><i class="fa fa-file-o"></i> {{i18n diaedu.evidence.add_file}}</a>
    </div>
  </div>
</div>
