<div class="control-group">
  <label class="control-label" for="obj-evidence">
    {{i18n diaedu.evidence.evidence}}
  </label>
  <div class="controls">
    <div>
      {{! list of the evidence items }}
      {{#each evidenceItem in controller}}
        <div>
          {{! error messages if present }}
          {{#if errors}}
            <div class="errors">{{errors}}</div>
          {{/if}}

          {{#if complete}}
            {{input type="text" value=title placeholder=titlePlaceholder}}
            {{#if isFile}}
              {{filename}}
            {{else}}
              {{input type="text" value=url placeholder=linkPlaceholder}}
            {{/if}}
            <a {{action 'remove' this}}><i class="fa fa-trash-o"></i> {{i18n diaedu.evidence.remove}}</a>

          {{else}}

            {{statusMessage}}

          {{/if}}
        </div>
      {{/each}}

      {{! links }}
      {{view Discourse.KbEvidenceUploadButtonView}}
      <a {{action 'addLink'}}><i class="fa fa-plus"></i> {{i18n diaedu.evidence.add_link}}</a>&nbsp;&nbsp;
      <a {{action 'addFile'}}><i class="fa fa-file-o"></i> {{i18n diaedu.evidence.add_file}}</a>
    </div>
  </div>
</div>
