{{#each blocks}}
  <div class="filter">
    <h3>
      <img {{bindAttr src="iconPath"}} />
      {{title}}
    </h3>
    <div class="items">
      
      <div class="item">
        {{input type="checkbox" checked=noneChecked}} 
        <div class="name"><em>Any</em></div>
      </div>

      {{#each items}}
        <div class="item">
          {{input type="checkbox" checked=isChecked}}
          {{#with obj}}
            <div class="name">{{name}}</div>
          {{/with}}
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}