<span>{{i18n diaedu.tags.tags}}:</span>&nbsp;
<a href="#" {{bind-attr class=":any-link noneChecked:active"}}>{{i18n diaedu.any}}</a>&nbsp;
{{#each items}}
  <a href="#" {{bind-attr data-id="obj.id"}} {{bind-attr class="isChecked:active"}}>{{obj.name}}</a>&nbsp;
{{/each}}