<div class="related-group">

  {{! render forward relations as objPages}}
  {{#if relation.forward}}

    {{! add button}}
    {{#if currentUser}}
      <a {{action showAddModal this}} class="new-related-obj">
        &plus; {{addLinkText}}
      </a>
    {{/if}}

    {{! header}}
    <h2>
      <img {{bind-attr src="dataType.iconPath"}} />
      {{headingText}}
    </h2>

    {{! tag mini-filter}}
    {{render 'kbMiniFilter' tagFilter}}

    {{! object listing}}
    {{render 'kbObjPage' objPage}}

  {{! otherwise this is a backward relation so render as a sidebar block}}
  {{else}}

    <div class="block">

      <h3>
        <img {{bind-attr src="smallerIconPath"}} />
        {{headingText}}
      </h3>

      <div class="items">
        <ul>
          {{#if isEmpty}}

            {{i18n diaedu.none_found}}

          {{else}}

            {{#each objPage.objs}}
              <li>{{#link-to 'kbObj.showWithBreadcrumb' dataType this}}{{name}}{{/link-to}}</li>
            {{/each}}

          {{/if}}
        </ul>
      </div>

    </div>

  {{/if}}

</div>